body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.login-form{
    margin:100px auto;
}

.login-form .card{
    margin:0 auto;
    width:50%;
}

.login-form .btn{
    width: 100%;
}

.login-form .footer{
    margin:16px 0px;
    text-align: center;
}

.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}