body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body svg{
    cursor: pointer;
}

.login-form{
    margin:100px auto;
}

.login-form .card{
    margin:0 auto;
    width:50%;
}

.login-form .btn{
    width: 100%;
}

.login-form .footer{
    margin:16px 0px;
    text-align: center;
}

.search-form {
 position: relative;
 margin-top:100px;
}
 .search-form .form-inline .workflow-filter{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 32px;
    text-overflow: '';
    border-radius: 4px;
    width:150%;
 }

.search-form input{
    padding: 16px 48px 16px 24px;
    border-radius: 16px;
}
.search-form .filter-box{
    position:relative;
}
.search-form .filter-box .filter-icon{
    position: absolute;;
}

.search-form .search-icon {
	position: absolute;
	font-size: 12px;
    color: #555;
    margin-left:8px;
}

.create-button{
   float: right !important;
}

.create-container .create-header{
  border-bottom: 1px solid;
}
.create-container .create-header input{
    border: 1px solid black;
  }
.create-container  .create-header .btn-group{
  float: right;
  padding:16px;
}
.create-container  .create-header .btn-group button{
    margin:0px 16px;
    padding: 8px 32px;
}

.create-container  .create-header .btn-group .btnShuffle{
   background:#AA00ED;
   color:white;
}

.create-container .node-body {
    display: flex;
    width:100%;
}
.create-container .node-body .node{
    margin:16px;
    width: 20%;
    padding: 16px;
    border: 1px solid lightgrey;
}

.create-container .node-body .node .check-circle {
    float: right;
    margin-top: -58px;
    padding: 16px;
    margin-right: -58px;
}

.create-container .node-body .node .form-control{
    border: 1px solid black;
}

.workflow-container{
    margin-top:50px;
}

.workflow-container .workflow-box{
   border: 1px solid darkgray;
    padding: 16px;
    margin-right: 16px;
    border-radius: 4px;
}
.workflow-container .workflow-box .workflow-body{

}
.workflow-container .workflow-box .workflow-body .workflow-name{
    border: 1px solid;
    padding: 16px;
    border-radius: 4px;
}
.workflow-container .workflow-box .workflow-body .workflow-status{
    padding: 16px;;
}

.disabled{
    cursor:not-allowed;
}
